<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label=""></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label=""></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label=""></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label=""></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label=""></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label=""></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label=""></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/movies/banners/banner_catwoman.jpg" class="d-block w-100" alt="..." height="350px">
        </div>
        <div class="carousel-item">
            <img src="/img/movies/banners/banner_inception.jpg" class="d-block w-100" alt="..." height="350px">
        </div>
        <div class="carousel-item">
            <img src="/img/movies/banners/banner_inception_2.jpg" class="d-block w-100" alt="..." height="350px">
        </div>
        <div class="carousel-item">
            <img src="/img/movies/banners/banner_theHobbit.jpg" class="d-block w-100" alt="..." height="350px">
        </div>
        <div class="carousel-item">
            <img src="/img/movies/banners/banner_theHobbit_2.jpg" class="d-block w-100" alt="..." height="350px">
        </div>
        <div class="carousel-item">
            <img src="/img/movies/banners/banner_glass.jpg" class="d-block w-100" alt="..." height="350px">
        </div>
        <div class="carousel-item">
            <img src="/img/movies/banners/banner_worldWarZ.jpg" class="d-block w-100" alt="..." height="350px">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>