<div class="jumbotron">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/banner_movie.jpg" class="d-block w-100" alt="banner 1">
      </div>
      <div class="carousel-item">
        <img src="/img/logo_banner_movie.jpg" class="d-block w-100" alt="banner 2">
      </div>
      <div class="carousel-item">
        <img src="/img/banner_catwoman.jpg" class="d-block w-100" alt="banner 3">
      </div>
    </div>
  </div>
</div>
