@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h3>a la nueva aplicación, Hospitalización en Casa</h3>

    <img src="/img/banner_hospi_01.jpg" class="img-fluid" alt="...">

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
