@page "/"
@* @using ProyPeliculas.Client.Pages.Components; *@

<MenuComponent></MenuComponent>

<div class="jumbotron">
    <CarouselComponent></CarouselComponent>
</div>

<CardComponent></CardComponent>

<Footer></Footer>

